<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ContactsDatabaseConnection" connectionString="Data Source=connection string; Integrated security=True" />
  <add name="ContactsDatabaseConnectionAzure" connectionString="Server=tcp:contacts-server.database.windows.net,1433;Initial Catalog=ContactOrgDBOnline;Persist Security Info=False;User ID=username;Password=password;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  <add name="ICT_712_Contact_Organizer.Properties.Settings.NotesDatabaseConnection"
   connectionString="Data Source=connection string; Integrated security=True"
   providerName="" />
  <add name="ICT_712_Contact_Organizer.Properties.Settings.NotesDatabaseConnectionAzure"
   connectionString="Server=tcp:contacts-server.database.windows.net,1433;Initial Catalog=ContactOrgDBOnline;Persist Security Info=False;User ID=username;Password=password;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
   providerName="" />
 </connectionStrings>
	</configuration> 